auto-save-list/

## emacs
url/
recentf

## epla
elpa/gnupg
elpa/archives
elpa/**/*.elc
elpa/*readme.txt

## magit
server/

## tramp
tramp

## projectile
projectile-bookmarks.eld

## ido
ido.last*

## local customization
init-local.el

## others
*.dat
*.cache
.*