auto-save-list/

## distributions
/distributions/*
!/distributions/.gitkeep

## .env file
*.env

## emacs
url/
recentf
async-bytecomp.log

## epla
elpa*/

## magit
server/
transient/

## tramp
tramp

## projectile
projectile-bookmarks.eld

## ido
ido.last*

## desktop-save-mode
.emacs.desktop

## multiple-cursors
.mc-lists.el

## local customization
local-custom.el

## others
*.dat
*.data
*.cache
