auto-save-list/

## emacs
url/
recentf

## epla
elpa/

## magit
server/

## tramp
tramp

## projectile
projectile-bookmarks.eld

## ido
ido.last*

## desktop-save-mode
.emacs.desktop

## multiple-cursors
.mc-lists.el

## local customization
init-local.el

## others
*.dat
*.data
*.cache
